<div class="cont">
  <div class="settings">
    <div class="pull-right levels">
      <button *ngFor="let lvl of levels;let i=index"class="btn" (click)="setLevel(i+1)" [class.active]="level===i+1">{{i+1}}</button>
    </div>
    <div>
      <button *ngFor="let op of operators" class="btn" (click)="setOperator(op.operator)" [class.active]="operator===op.operator">{{op.string}}</button>
    </div>
  </div>

  <div class="operation">
    <div class="score">
      <span class="ok">{{correctAnswers}}</span> / <span class="ko">{{wrongAnswers}}</span>
    </div>
    <div class="text">
      {{calculText}}
    </div>
    <steps-answers class="steps" [nbSteps]="nbSteps"></steps-answers>
  </div>

  <div class="numbers">
    <table>
      <tr *ngFor="let x of numbersTable">
        <td *ngFor="let y of x">
          <div class="case-number case-number-{{y}}" #caseNumber (click)="testResponse(y, caseNumber)">
            <span>{{y}}</span>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
