/*remove bootstrap blue outline*/
.btn:focus,.btn:active {
   outline: none !important;
}

/* useful classes */
.bg-out {
  background-color:#888 !important;
}
.ok {
  color:#4F4 !important;
}
.ko {
  color:#F44 !important;
}
.bg-ok {
  background-color:#4F4 !important;
}
.bg-ko {
  background-color:#F44 !important;
}

/*////////////////////////////////////////////////////
// Main container
////////////////////////////////////////////////////*/
.cont {
  height:100%;
	margin:0 auto;
	width:100vmin;
  /* remove selection */
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

/*////////////////////////////////////////////////////
// Settings
////////////////////////////////////////////////////*/
.settings {
  width:100%;
  height:5%;
  padding:1% 5%;
}
.settings > div {
  width:50%;
}
.settings .levels {
  text-align:right;
}
.settings .btn {
	border-radius:3px;
	width:20%;
	text-align:center;
  padding:0;
  background-color:#DFF;
  margin:0 1%;
  font-size: 3vmin;
  line-height: 3.2vmin;

  box-shadow: 0 2px #888;

  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}
.settings .btn:active {
	/*box-shadow: 0 2px #888;*/
  transform: translateY(1px);
}
.settings .btn:active, .settings .btn.active {
	background-color:#555;
	color:#FFF;
}


/*////////////////////////////////////////////////////
// Operation
////////////////////////////////////////////////////*/
.operation {
  height:25%;
	width:100%;
	box-sizing:border-box;
	padding:4px;
	position:relative;
	display:table;
}
.operation .text {
  border-radius:1vmin;
	background-color:#DFF;
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	font-size:13vmin;
}
.operation .score {
	position:absolute;
	font-size:5vh;
	top:10px;
	left:10px;
}
.operation .steps {
	position:absolute;
	text-align:center;
	bottom:5%;
	left:0;
	padding:0;
	width:100%;
}

/*////////////////////////////////////////////////////
// Numbers
////////////////////////////////////////////////////*/
.numbers {
	box-sizing:border-box;
	padding:1%;
	height:70%;
}
.numbers table {
	text-align:center;
	width:100%;
	height:100%;
}
.numbers table td {
  padding:2px;
}

.numbers table td .case-number {
  display:table;
  width:100%;
  height:100%;
	background-color:#DFF;
	box-sizing: border-box;
	border-radius:3px;
	box-shadow: 0 2px #888;
  font-size: 3vmin;
	-webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}
.numbers table td .case-number span {
  display:table-cell;
	vertical-align:middle;
	height:100%;
}
.numbers table td .case-number:hover {
  cursor: pointer;
  cursor: hand;
	background-color:#EEE;
}
.numbers table td .case-number:active {
	background-color:#EEE;
	/*box-shadow: 0 2px #888;*/
  transform: translateY(1px);
}
